fastapi
uvicorn
python-dotenv
bcrypt==4.0.1
sqlalchemy
pydantic
pydantic-settings

passlib[bcrypt]
python-jose

groq

transformers
torch

numpy
librosa
tensorflow

deepface

opencv-python
pillow

openai-whisper
ffmpeg-python

soundfile
noisereduce

python-multipart